<% @books.each do |book| %>
<div>
  <%= link_to book_path(book.id) do %>
  <% end %>
  <%= link_to user_path(book.user_id) do %>
    <p>投稿ユーザー画像：<%= image_tag book.user.get_profile_image %></p>
  <% end %>
  <p>Title：<%= link_to book.title, book_path(book.id) %></p>
  <p>Opinion：<%= book.opinion %></p>
  <p>ユーザーネーム：<%= book.user.name %></p>
</div>
<% end %>

<h1>User info</h1>
  <p><%= image_tag current_user.get_profile_image %></p>
  <p>name <%= current_user.name %></p>
  <p>introduction <%= current_user.introduction %></p>
  <p><%= link_to "プロフィール編集", edit_user_path(current_user) %></p>

<h1>画像投稿フォーム</h1>
  <%= form_with model: @book do |f| %>
    <h4>Title</h4>
      <%= f.text_field :title %>
    <h4>Opinion</h4>
      <%= f.text_area :opinion %>
    <%= f.submit '投稿' %>
  <% end %>
