<main>
  <%= flash[:notice] %>
  <div class="container">
    <div class="row">  
      <div class="col-md-3" >
        <h1>User info</h1>
          <p><%= image_tag @book.user.get_profile_image %></p>
          <p>name <%= @book.user.name %></p>
          <p>introduction <%= @book.user.introduction %></p>
          <p>
            <%= link_to edit_user_path(@book.user) , class: 'btn btn-secondary' do %>
              <i class="fas fa-user-cog"></i>
            <% end %>
          </p>
        
        <h1>New book</h1>
          <%= form_with model: @new_book do |f| %>
            <h4>Title</h4>
              <%= f.text_field :title %>
            <h4>Opinion</h4>
              <%= f.text_area :body %>
            <br>
            <%= f.submit 'Create Book' , class: "btn btn-secondary"%>
          <% end %>
      </div>
  
      <div class="col-md-8 offset-md-1">
        <table class="table table-striped">
          <thead>
            <h1>Book detail</h1>
          </thead>
          <tbody>
            <tr>
              <td><%= link_to user_path(@book.user_id) do %>
                <%= image_tag @book.user.get_profile_image %>
                <br>
                <%= @book.user.name%>
                <% end %>
              </td>
              
              <td>
                <%= link_to @book.title, book_path(@book.id) %>
              </td>
              
              <td><%= @book.body %></td>
              
              <td>
              <% if @book.user == current_user %>
                <%= link_to "Edit", edit_book_path(@book.id) , class: "btn btn-secondary"%>
                <%= link_to "Destroy", book_path(@book), method: :delete , class: "btn btn-secondary"%>
              <% end %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>