<h2>タイトル</h2>
<p><%= link_to @book.title, book_path(@book.id) %></p>

<h2>本文</h2>
<p><%= @book.opinion %></p>

<p><%= @book.user.name %></p>
<%= link_to user_path(@book.user_id) do %>
    <p>ショップ名：<%= @book.user.name %></p>
<% end %>

<%= link_to "編集", edit_book_path(@book.id) %>
<% if @book.user == current_user %>
  <%= link_to "削除", book_path(@book), method: :delete %>
<% end %>